.container {
  font-size: 10em; /* adjust this value to make the text larger */
}

table {
  width: 100%;
}
th{
  text-align: center;
}

td {
  text-align: center;
}

button {
  font-size: 2em; /* adjust this value to make the text inside the button larger */
  padding: 20px 40px;
}
