.container {
  font-size: 10em; /* adjust this value to make the text larger */
}

table {
  width: 100%;
}
th{
  text-align: center;
}

td {
  text-align: center;
}

difficultyButton {
  font-size: 2em;
  padding: 20px 40px;
}

answer {
  font-size: 2em; /* adjust this value to make the text inside the answer larger */
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

