<mat-toolbar color="primary" class="toolbar">
  <button mat-flat-button routerLink="/game" class="toolbar-back-button">Back</button></mat-toolbar>


<mat-card class="add-game-card">
  <mat-card-header>
    <h1>Add Game Type</h1>
  </mat-card-header>
  <div class="add-game-type-container">
    <form [formGroup]="gameTypeForm" (submit)="addGameType()">
      <br>
      <mat-form-field appearance="fill">
        <input formControlName="gameType" matInput placeholder="GameType">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Add</button>
    </form>
  </div>
</mat-card>
