<div class="container" *ngIf="dataSource">
  <div *ngFor="let row of dataSource.data">
    <mat-card class="game-card">
      <mat-card-header>
        <mat-card-title>{{row.gameType}}</mat-card-title>
        <mat-card-subtitle>HI SCORE: {{row.score}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <div class="add-question-button">
          <button mat-stroked-button routerLink="/editquestion">Edit</button>
        </div>
        <button mat-stroked-button [routerLink]="['/quiz', row.gameId]">START</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

