<div class="container" *ngIf="dataSource">
  <div *ngFor="let row of dataSource.data">
    <mat-card class="game-card">
      <mat-card-header>
        <mat-card-title>{{row.gameType}}</mat-card-title>
        <mat-card-subtitle>HI SCORE: {{row.score}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <div class="add-question-button">
          <button mat-stroked-button [routerLink]="['/editquestion',row.gameId]">EDIT</button>
        </div>
        <button mat-stroked-button [routerLink]="['/quiz', row.gameId]">START</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <mat-card class="add-game-card">
    <mat-card-header>
      <mat-card-title>Add New Game Type</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-stroked-button [routerLink]="['/addGameType']">ADD NEW GAME</button>
    </mat-card-actions>
  </mat-card>
</div>

