<h1 mat-dialog-title>Edit Game Name</h1>
<div mat-dialog-content>
  <form [formGroup]="editGameForm">
    <mat-form-field>
      <mat-label>Game Name</mat-label>
      <input matInput formControlName="gameType">
      <mat-error *ngIf="editGameForm.get('gameType')?.hasError('maxlength')">
        Game Name cannot be more than 30 characters long
      </mat-error>
      <mat-error *ngIf="editGameForm.get('gameType')?.hasError('required')">
        Game Name is required
      </mat-error>
    </mat-form-field>
    <button mat-button (click)="submitForm()">Submit</button>
    <button mat-button (click)="onNoClick()">Cancel</button>
  </form>
</div>
