.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.back-to-game
{
  font-size: 1em;
  padding: 30px 50px;
}

.question-card {
  width: 700px;
  height: 500px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #f0f0f0;
  border: 1px solid #000;
  transition: 0.3s;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.strike {
  color: red;
  font-size: 40px;
  margin-right: 5px;
}
