<div class="container">
  <mat-card class="question-card" appearance="outlined">
    <div class="back-to-game">
      <button mat-stroked-button routerLink ="/game">Back to Home Page</button>
    </div>
    <div class="strikes">
        <span class="strike" *ngFor="let strike of [].constructor(wrongAnswerCount); let i = index">
          X
        </span>
    </div>
    <div *ngFor="let row of dataSource.data">
      <div class="question">
        <h2>Question</h2>
        <p>{{row.problem}}</p>
      </div>

      <div class="answer" *ngIf="!isAnswerSubmitted">
        <h2>Answer</h2>
        <mat-form-field class="input-form-field">
          <mat-label>Answer</mat-label>
          <input matInput type="text" [(ngModel)]="row.value" (keyup.enter)="checkAnswer(row.value, row.answer, row.questionId)">        </mat-form-field>
        <h2>
          <button mat-stroked-button (click)="checkAnswer(row.value, row.answer,row.questionId)">Submit</button>
        </h2>
        <h2>
          <p>
            Score: {{gameScore}}
          </p>
        </h2>
      </div>

      <div *ngIf="isAnswerSubmitted">
        <p>CORRECT ANSWER: {{row.answer}}</p>
        <p>YOUR ANSWER: {{row.value}}</p>
        <h2>
          <button (click)="selectRandomQuestion(row.questionId); isAnswerSubmitted = false;">Next Question</button>
        </h2>
        <p>{{isAnswerCorrect ? 'CORRECT' : 'INCORRECT'}}</p>
      </div>
    </div>
  </mat-card>
</div>
